/*Universal Styles*/

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #7A251D;
    min-width: 320px;
}

h2{
    margin: 1rem 1rem 0;
    padding: 1rem 1rem 0;
    font-size: 2.5rem;
}

h3{
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
}

p{
    font-family: "Playfair Display";
    line-height: 2rem;
}
h4{
    text-align: center;
    color:#FA4C3C;
}

li{
    font-family: "Playfair Display";
}

@media only screen and (max-width : 768px){
    *{
        font-size: 14px;
    }
}

 /*Media & Text Containers*/

 .image-container, .text-content, .video-container{
    width: 50%;
    height: auto;
    margin: auto;
}

.image-container img{
    width: 80%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
}

.video-container video, .video-container iframe{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2rem;
}

.video-container{
    padding: 0;
    margin: auto 0;
}

.text-content p{
    margin: 0 2rem 0 1rem;
    padding: 1rem 2rem 1rem 1rem;
}

@media only screen and (max-width : 768px){
    .image-container, .text-content, .video-container{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: auto;
    }
    
    p{
        margin: 0;
        padding: 0;
    }
}

/*Navigation Bar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    position:fixed;
    background-color: #7A251D;
    top: 0;
    z-index: 1;
}

nav h1{
    padding: 1rem;
    margin: 1rem;
    font-size: 3rem;
    color: #FA4C3C;
}

nav h1 span{
    color: #FA9187;
    font-size: 3rem;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navbarlinks{
    padding: 1rem;
    margin: 1rem;
}

.navbarlinks a{
    text-decoration: none;
    color: #FA4C3C;
}

.navbarlinks a:visited{
    color: #FA4C3C;
}

.navbarlinks a:hover{
    color: #FA9187;
    font-weight: 700;
}

.navbarlinks a:active{
    color: #fff;
}

@media only screen and (max-width : 768px){
    nav{
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: center;
    }

    nav h1{
        padding: .5rem;
        margin: .5rem;
        font-size: 2rem;
    }

    nav h1 span{
        font-size: 2rem;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    .navbarlinks{
        padding: 0 1rem;
        margin: 0;
    }

    .navbarlinks a{
        font-size: 1rem;
        padding-bottom: 0;
    }
}

/*Banner*/

#banner{
    display: flex;
    width: 90%;
    height: auto;
    justify-content:space-around;
    padding: 0;
    margin: 8rem auto 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    scroll-margin-top: 8rem;
}

#banner img{
    border: 1px solid transparent;
    border-radius: 1.25rem;
    padding: 0;
    margin: 2rem;
}

#banner p, #banner h2{
    color: #7A4742;

}

@media only screen and (max-width : 768px){
    #banner{
        padding: 0;
        margin: 10rem auto 0;
        display: flex;
        flex-direction: column;
        scroll-margin-top: 13rem;
    }
    #banner .image-container{
        width: 100%;
    }
}    
/*Education*/

#education{
    display: flex;
    width: 90%;
    justify-content:space-around;
    padding: 1rem;
    margin: 2rem auto;
    scroll-margin-top: 8rem;
}

#education h2, #education li{
    color: #FA9187;
}

#education h2{
    margin-bottom: 2rem;
}

#education span{
    font-family: "Playfair Display";
    color: #FA4C3C;
    font-size: 2rem;
}

#education img{
    border: 1px solid #FA4C3C;
    border-radius: 1rem;
    padding: 0;
}

@media only screen and (max-width : 768px){
    #education{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        padding: 1rem;
        margin: 1rem auto;
        scroll-margin-top: 10rem;
    }

    #education h2{
        font-size: 2rem;
    }
    #education li{
        margin-left: 3rem;
    }
    #education img{
        padding: 0;
        margin: 1rem auto;
        width: 100%;
        height: auto;
    }  

}
/*Hobbies*/

#hobbies{
    padding: 1rem;
    margin: 2rem auto;
    width: 90%;
    height: auto;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    scroll-margin-top: 8rem;
}

#hobbies h2, #hobbies p{
    color: #7A4742;
}

#hobbies h3{
    color: #C73C30;
}

#jiujitsu{
    display: flex;
    width: 100%;
    justify-content:space-around;
}

.jiujitsulinks{
    font-family: "Playfair Display";
    color: blue;
}

.jiujitsulinks:visited{
    color: blue;
}

.jiujitsulinks:hover{
    color: aqua;
}

.jiujitsulinks:active{
    color: red;
}

iframe{
    height:315px;
    width:560;
}

.button{
    background-color: rgb(72, 187, 26);
    color:#fff;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    text-decoration: none;
}

.button:visited{
    background-color: rgb(72, 187, 26);
    color: #fff;
}

.button:hover{
    background-color: rgb(28, 255, 8);
    color:#fff;
    font-weight: 700;
}

.button:active{
    background-color: #fff;
    color: rgb(72, 187, 26);
    border: 1px solid rgb(72, 187, 26);

}

#running{
    display: flex;
    width: 100%;
    justify-content:space-around;
}

@media only screen and (max-width : 768px){
    #hobbies{
        scroll-margin-top: 10rem;
    }
    #jiujitsu{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    #running{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
}

/*Family Section*/

 #family{
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 8rem;
    background-color:#7A251D;
    margin: 3rem 3rem 6rem;
 }
 
 #family h2{
    color: #FA4C3C;
}

 #family li{
    line-height: 2rem;
    color: #FA9187;
 }

 #family p{
    text-align: center;
    color:#FA9187;
 }

 .flex-container-fam{
    display: flex;
    width: 90%;
    margin: 0 auto;
 }

 .image-container2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
 }

 .image-container2 img{
    width: 90%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 0.6rem;
 }
.fammembers{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 25%;
    height: auto;
}
 .text-content2 li{
    width: 100%;
    height: auto;
    margin: 1rem;
 }

 @media only screen and (max-width : 768px){
    #family{
        scroll-margin-top: 10rem;
    }

    .flex-container-fam{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
     }

    .image-container2 img{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .text-content2{
        width: 100%;
        height: auto;
    }
    .fammembers{
        align-items: center;
        width: 50%;
        height: auto;
    }
    .text-content2 li{
        margin: 0;
    }
 }
 /*Footer*/

 #footnav{
    height: 5rem;
    width: 100%;
    bottom: 0;
    background-color: #FA9187;
}

#footnav h4{
    padding: 1rem;
    margin: 1rem;
    color: #7A4742;
    text-align: left;
    font-size: 0.8rem;
}

#footnav a{
    color: #7A4742;
}

#footnav a:visited{
    color: #7A4742;
}

#footnav a:hover{
    color:#FA4C3C;
    font-weight: 700;
}

#footnav a:active{
    color:#7A251D;
}

@media only screen and (max-width : 768px){
    #footnav{
        height: fit-content;
    }
}